<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>6DofRobot</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
        }
    }
    </script>
</head>
<body class="p-4 h-screen flex flex-col gap-4">
    <div class="control-panel p-3 flex items-center justify-center gap-2">
            <button id="settings-btn" class="nav-btn flex items-center gap-2">
                <img src="{{ url_for('static', filename='icons/settings.png') }}" class="w-4 h-4" alt="Settings">
                Settings
            </button>
            <button id="home-btn" class="nav-btn flex items-center gap-2">
                <img src="{{ url_for('static', filename='icons/home.png') }}" class="w-4 h-4" alt="Home">
                Home XYZ
            </button>
    </div>

    <div class="flex flex-grow gap-4 min-h-0">
        <div class="control-panel w-2/5 p-6">
                <h2 class="text-slate-400 text-center text-xs font-bold uppercase mb-6">Forward Mode</h2>
                <div id="sliders-container" class="space-y-6"></div>

                <h2 class="text-slate-400 text-center text-xs font-bold uppercase mb-6">Inverse Mode</h2>
                <div class="grid grid-cols-2 gap-3 p-4">
                    <button onmousedown="startJog('x', 1)" onmouseup="stopJog()" onmouseleave="stopJog()" class="bg-slate-700 hover:bg-indigo-600 text-white font-bold py-3 rounded shadow-lg transition-all">X +</button>
                    <button onmousedown="startJog('x', -1)" onmouseup="stopJog()" onmouseleave="stopJog()" class="bg-slate-700 hover:bg-indigo-600 text-white font-bold py-3 rounded shadow-lg transition-all">X -</button>

                    <button onmousedown="startJog('y', 1)" onmouseup="stopJog()" onmouseleave="stopJog()" class="bg-slate-700 hover:bg-emerald-600 text-white font-bold py-3 rounded shadow-lg transition-all">Y +</button>
                    <button onmousedown="startJog('y', -1)" onmouseup="stopJog()" onmouseleave="stopJog()" class="bg-slate-700 hover:bg-emerald-600 text-white font-bold py-3 rounded shadow-lg transition-all">Y -</button>

                    <button onmousedown="startJog('z', 1)" onmouseup="stopJog()" onmouseleave="stopJog()" class="bg-slate-700 hover:bg-red-600 text-white font-bold py-3 rounded shadow-lg transition-all">Z +</button>
                    <button onmousedown="startJog('z', -1)" onmouseup="stopJog()" onmouseleave="stopJog()" class="bg-slate-700 hover:bg-red-600 text-white font-bold py-3 rounded shadow-lg transition-all">Z -</button>
                </div>
                <div class="flex items-center gap-4 mb-4 bg-slate-100 p-2 rounded">
                    <span class="text-xs font-bold uppercase">Speed:</span>
                    <button onclick="changeSpeed(-0.02)" class="px-2 bg-white border rounded">-</button>
                    <span id="speed-display" class="font-mono font-bold text-indigo-600">0.05</span>
                    <button onclick="changeSpeed(0.02)" class="px-2 bg-white border rounded">+</button>
                </div>
        </div>
        <div class="control-panel flex-grow relative">
            <div id="visualization-canvas" class="w-full h-full"></div>
        </div>
    </div>

    <div class="h-1/4 flex gap-4">
        <div class="control-panel flex-grow p-4 flex flex-col">
            <div id="log-field" class="flex-grow p-3 overflow-y-auto whitespace-pre-wrap"></div>
        </div>
        <div class="inverse-traj  flex control-panel w-3/5 p-4 flex items-center justify-center">
            <h3 class="text-sm font-bold text-indigo-900 mb-4 uppercase tracking-wider">Planowanie Ścieżki A → B</h3>

            <div class="mb-4">
                <span class="text-[10px] font-bold text-indigo-500 uppercase">Punkt Początkowy (A)</span>
                <div class="grid grid-cols-3 gap-2 mt-1">
                    <input type="number" id="start-x" placeholder="X" value="1.2" class="p-2 rounded border border-indigo-200 text-sm">
                    <input type="number" id="start-y" placeholder="Y" value="0.0" class="p-2 rounded border border-indigo-200 text-sm">
                    <input type="number" id="start-z" placeholder="Z" value="1.5" class="p-2 rounded border border-indigo-200 text-sm">
                </div>
            </div>

            <div class="mb-4">
                <span class="text-[10px] font-bold text-indigo-500 uppercase">Punkt Końcowy (B)</span>
                <div class="grid grid-cols-3 gap-2 mt-1">
                    <input type="number" id="target-x" placeholder="X" value="1.5" class="p-2 rounded border border-indigo-200 text-sm">
                    <input type="number" id="target-y" placeholder="Y" value="0.5" class="p-2 rounded border border-indigo-200 text-sm">
                    <input type="number" id="target-z" placeholder="Z" value="1.8" class="p-2 rounded border border-indigo-200 text-sm">
                </div>
            </div>
<!--            <h3 class="text-sm font-bold text-indigo-900 mb-4 p-4 uppercase tracking-wider">Trajectory planning:</h3>-->
<!--            <div class="grid grid-cols-3 gap-3 mb-4">-->
<!--                <div>-->
<!--                    <label class="block text-[10px] font-bold text-indigo-400">TARGET X</label>-->
<!--                    <input type="number" id="target-x" value="1.5" step="0.1" class="w-full p-2 rounded border border-indigo-200 text-sm">-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label class="block text-[10px] font-bold text-indigo-400">TARGET Y</label>-->
<!--                    <input type="number" id="target-y" value="0.5" step="0.1" class="w-full p-2 rounded border border-indigo-200 text-sm">-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label class="block text-[10px] font-bold text-indigo-400">TARGET Z</label>-->
<!--                    <input type="number" id="target-z" value="2.0" step="0.1" class="w-full p-2 rounded border border-indigo-200 text-sm">-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="control-panel w-60 p-4 flex flex-col gap-2">
            <button class="btn-start flex items-center justify-center gap-2 flex-grow" onclick="runFullSequence()">
                <img src="{{ url_for('static', filename='icons/play.png') }}" class="w-6 h-6" alt="Start">
                Start
            </button>
<!--            <button class="btn-pause flex items-center justify-center gap-2 flex-grow">-->
<!--                <img src="{{ url_for('static', filename='icons/pause.png') }}" class="w-6 h-6" alt="Pause">-->
<!--                Pause-->
<!--            </button>-->
<!--            <button class="btn-stop flex items-center justify-center gap-2 flex-grow">-->
<!--                <img src="{{ url_for('static', filename='icons/stop.png') }}" class="w-6 h-6" alt="Stop">-->
<!--                Stop-->
<!--            </button>-->
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/visualizer.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>